# Frontend (React) files

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Backend (Flask) files

# Python and Flask files
/backend/__pycache__/
/backend/instance/
/backend/migrations/
/backend/.env
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/venv/
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/.coverage
/backend.coverage
/backend/.tox/
/backend/.nox/
/backend/.hypothesis/
/backend/.pytest/
/backend/.ropeproject/

# IDE and OS-specific files
/.vscode/
/.idea/
/*.suo
/*.ntvs_analysis.dat
/*.ncb
/*.swp
/*.sublime-project
/*.sublime-workspace
/*.DS_Store

# Logs
/*.log
/*.pid
/*.gz
/*.log.*
/*.err
/*.out

# Build and test files
/*.test
/*.cache
/*.tmp
/*.bak

# Database files
/*.db
/*.sqlite
/*.sqlite3
