.playersul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.draftul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

li {
  list-style: none;
  height: 100%;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 2%;
  text-align: center;
  border: 1px solid #ef955d;
  box-shadow: 4px 4px 8px rgba(168, 72, 28, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

#selected {
  border: 3px solid #f3b976;
  box-shadow: 8px 4px 8px rgba(224, 162, 132, 0.884);
}

#trash-icon {
  opacity: 0.3;
  transition: opacity 0.5s;
}

#trash-icon:hover {
  opacity: 1;
} 