#full-screen {
  position: fixed;
  top: 1%;
  left: 15%;
  width: 70%;
  height: 90%;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
}

#full-screen--invisible {
  pointer-events: none; /* Makes the modal unclickable */
}

#full-screen--visible {
  pointer-events: initial; /* Modal is clickable */
}

#fullscreen-title {
  margin-top: 5%;
  transition: color 0.4s ease;
}

#close-button {
  position: absolute;
  top: 1%;
  right: 1%;
}
